html {
    scroll-behavior: smooth;
}
/* Añadir la fuente descargada */
@font-face {
    font-family: 'Baskerville';
    src: url('fonts/Baskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#animated-background {
    position: fixed; /* Fijar el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el fondo detrás del contenido */
    pointer-events: none; /* Asegura que el SVG no interfiera con los eventos del mouse */
}

body {
    font-family: 'Baskerville', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    width: 100%;
    bottom: 0;
}
.navbar .nav-link {
    display: inline-block;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img.rounded-circle {
    width: 200px; /* ajusta según sea necesario */
    height: 200px; /* ajusta según sea necesario */
    object-fit: cover; /* asegura que la imagen se ajuste sin distorsionarse */
}
.section {
    display: none;
}

.section.active {
    display: block;
}
.text-justify {
    text-align: justify;
}
/* Estilo para la animación de desvanecimiento */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards; /* Duración de la animación de 1 segundo */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

* {
    padding: 0;
    margin: 0;
}

nav, main, footer {
    position: relative;
    z-index: 1; /* Asegura que estos elementos estén por encima del SVG */
}
svg.bi { 
    z-index: 2; /* Asegura que los iconos SVG de la navegación estén por encima del fondo SVG */ 
}
#animated-background {
    position: fixed; /* Fijar el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el fondo detrás del contenido */
    pointer-events: none; /* Asegura que el SVG no interfiera con los eventos del mouse */
}

body, nav, main, footer {
    position: relative;
    z-index: 1; /* Asegura que estos elementos estén por encima del SVG */
}

svg.bi {
    z-index: 2; /* Asegura que los iconos SVG de la navegación estén por encima del fondo SVG */
}

/* Estilo adicional para asegurar que el SVG de fondo no interfiera */
.svg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* Coloca el fondo aún más atrás para evitar cualquier interferencia */
}

* {
    padding: 0;
    margin: 0;
}

/* Estilo y Animación para las Tarjetas de Proyecto */
.project-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-content {
    text-align: left;
    color: #333;
}

h3 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

/* Ocultar detalles del proyecto por defecto */
.project-detail {
    display: none;
}

/* Mostrar detalles del proyecto */
.section.active {
    display: block;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/* Justificar el texto de los párrafos en las secciones de proyecto */
.project-detail p, .section ul, .section li {
    text-align: justify;
    list-style-position: inside; /* Asegura que los puntos se alineen correctamente */
    
}

/* Alinear el texto de los encabezados a la izquierda */
.project-detail h2, .project-detail h3, .section h2, .section h3 {
    text-align: left;
}

/* Estilo para la imagen */
.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
/* Clase para imágenes pequeñas */
.img-small {
    width: 300px;
    height: auto;
}

/* Clase para imágenes medianas */
.img-medium {
    width: 400px;
    height: auto;
}

/* Clase para imágenes grandes */
.img-large {
    width: 700px;
    height: auto;
}